:root {
    --nav-hover-color: #fdd18bf6;
    --nav-bg-color: #191a1f;
    --nav-text-color: #dfdfdf;
    --sec-h1-color: #5d3636;
    --sec-bg-dark: rgba(5, 3, 20, 0.966);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html,
body,
.cover {
    height: 100%;

}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Asul, sans-serif;
}

p {
    font-family: Chivo, sans-serif;
}

section {
    padding: 40px 20px;
    padding-bottom: 90px;
    min-height: 100%;
}

section h1 {
    font-size: 50px;
    color: var(--sec-h1-color);
    margin-top: 50px;

}

/* nav */
#navbar-style {
    background-color: var(--nav-bg-color);
}

.nav-text-col {
    color: var(--nav-hover-color);
}

.navbar-nav li a {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 30px;
    padding-left: 30px;
    line-height: 40px;
    font-family: Chivo, sans-serif;
    transition: background-color 0.30s ease-in-out, color 0.30s ease-in-out;
    color: var(--nav-text-color);
    font-size: 15px;
    margin: 0px 30px 0px 30px;
    text-align: right;
}

.navbar-nav li .active {
    color: var(--nav-hover-color);
}

.navbar-nav li .active::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: var(--nav-hover-color);
}

.navbar-nav li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--nav-hover-color);
    transition: width .5s;
}

.navbar-nav li a:hover {
    color: var(--nav-hover-color);
}

.navbar-nav li a:hover::after {
    width: 100%;
    transition: width .3s;
}

.nav-text {
    color: white;
    display: table-cell;
    vertical-align: middle;
    opacity: 1;

    /* transition: opacity 2s; */
}

/* home-page */
.cover {
    background: url('pics/photo-1437419764061-2473afe69fc2.jpg') top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: table;
    width: 100%;
    height: 100%;
    padding: 0 25%;
    box-shadow: inset 0 0 100px #000;

}

.cover-text {
    color: white;
    display: table-cell;
    vertical-align: middle;
    opacity: 1;
    /* position: fixed;
    top: 500px; */
    /* transition: opacity 2s; */
}

.cover-text h1 {
    margin: 0;
    font-size: 80px;
    letter-spacing: -3px;
}

.cover-text p {
    margin: 0;
    font-size: 30px;
}


/* About */
#about {
    background-color: #ffffff;
    box-shadow: inset 0 0 50px #000;
}

.img-skills img {
    padding-bottom: 10px;

}

#img01,
#img03,
#img05 {
    width: 150px;
    height: 150px;
    margin-left: 250px;
}

#img02,
#img04,
#img06 {
    /* margin-right: 900px; */
    width: 150px;
    height: 150px;
}

.card-no-border {
    border: 0px;
    padding-top: 10%;
    font-size: 20px;
    background-color: transparent;

}

ul li {
    margin: 0;
    font-size: 25px;
}

/* Portfolio */
.dark-background {
    background-color: var(--sec-bg-dark);
    /* background: url('pics/photo-1437419764061-2473afe69fc2.jpg') top center no-repeat; */
    min-height: 1300px;
    background-attachment: fixed;
    box-shadow: inset 0 0 100px #000;
}

.dark-background h1 {
    color: #f4edff;
}

.card{
    min-height: 100%;
    line-height: 3;
    font-size: 16px;
    text-align: left;
}

/* Contact */
#before-contact {
    height: 20%;
    background: url('pics/photo-1437419764061-2473afe69fc2.jpg') top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* input[type="text"], input[type="email"], textarea
{
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
} */
.form-group {
    position: relative;
}

.form-control {
    margin-top: 30px;
    font-family: Chivo, sans-serif;
    border-radius: 0;
    border: none;
    border-bottom: solid 1px #CCC;
    box-shadow: none;
    transition: none;
}

.form-control:focus {
    box-shadow: none;
    outline: none;
}

label,
input:placeholder-shown~label,
textarea:placeholder-shown~label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    font-family: Chivo, sans-serif;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    z-index: 1;
}

input:focus~label,
input:not(:placeholder-shown)~label,
textarea:focus~label,
textarea:not(:placeholder-shown)~label {
    top: -20px;
    font-size: 20px;
    color: #391867;
    font-family: Chivo, sans-serif;
}

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #391867;
    transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

input:focus~.bar:before,
input:focus~.bar:after,
textarea:focus~.bar:before,
textarea:focus~.bar:after {
    width: 50%;
}

.entranceContactRight {
    padding-top: 130px;
    padding-left: 30px;
}

#contact h2 {
    margin-top: 0;
    font-size: 35px;
}

.contact-img {
    height: 70px;
    width: 70px;
    padding: 10px;
}


/* Footer */
#footer-text {
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    font-family: Chivo, sans-serif;

}

@media only screen and (max-width: 768px) {

    #img01,
    #img03,
    #img05 {
        margin-left: 50%;
    }

    .cover {
        padding: 0;
        background: url('pics/nicolas-solerieu-Hgb4gzB1ZPs-unsplash.jpg') top center no-repeat;
        background-size: 700px;
        background-attachment: fixed;
        display: block;
        box-shadow: inset 0 0 100px #000;
        min-height: 500px;
    }

    .cover-text h1 {
        margin-top: 50%;
        font-size: 50px;
        letter-spacing: -3px;
        padding: 15px;
        text-align: center;
    }

    .cover-text p {
        margin: 0;
        font-size: 20px;
        padding: 15px;
        text-align: center;

    }

    #navbar-style {
        background-color: var(--nav-bg-color);
    }

    .navbar-nav li a  {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-left: 60%;
    }

}